@use "scss/mixins" as mxn;
@use "scss/palette" as pal;
@use "scss/variables" as var;

.wrapper {
  width: 100%;
  @include mxn.center-flex;
  flex-direction: column;

  @include mxn.respond-to("medium") {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    width: 90%;
    cursor: pointer;
    margin: 0 auto 2em;
    @include mxn.center-flex;
    flex-direction: column;
    gap: 0.5em;

    p {
      padding: 0 1em;
      font-size: var.$font-size-p;
    }

    a {
      color: pal.$primary-color;
    }

    @include mxn.respond-to("medium") {
      width: 22%;
    }
  }
}

.modalBackground {
  background: rgba(pal.$deep-black, 0.95);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 500;
  color: pal.$white;
  padding: 1em 2em;
  overflow-y: visible;

  .close {
    text-align: right;
    width: 100%;
    cursor: pointer;
    position: relative;
    height: 60px;
    p {
      position: absolute;
      right: 10px;
      font-size: 40px;
      border: 3px solid pal.$white;
      width: 44px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
    }
  }
  @include mxn.center-flex;
  gap: 0.5em;
  flex-direction: column;

  .preview {
    display: none;
    
    @media screen and (orientation:landscape) {
      display: block;
      max-width: 30%;
    }
    @include mxn.respond-to("medium") {
      min-width: 65%;
      display: block;
    }
  }

  .previewMobile {
    display: block;
    max-width: 70%;
    @media screen and (orientation:landscape) {
      display: none;
    }

    @include mxn.respond-to("medium") {
      display: none;
    }
  }

  .lead {
    font-size: var.$font-size-lead-md;
    line-height: var.$font-size-lead-md * 1.5;
  }

  p {
    font-size: var.$font-size-p;
  }

  .link {
    margin: 1em 0;
  }
}
