@use "scss/mixins" as mxn;
@use "scss/palette" as pal;
@use "scss/variables" as var;

.container {
  position: fixed;
  background: pal.$primary-color;
  width: 100%;
  min-height: var.$navbar-height;
  z-index: 400;
  top: 0;
  padding: 1em 0;
  @include mxn.respond-to("medium") {
    padding: 0 1em;
  }
}

.navbarWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include mxn.respond-to("medium") {
    flex-direction: row;
  }

  .logo {
    margin: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
    font-size: 24px;

    @include mxn.respond-to("medium") {
      margin: 1em 2em;
      font-size: 36px;
    }

    a {
      color: pal.$white;
      text-decoration: none;
    }

    .menuControl {
      cursor: pointer;
      color: pal.$white;
      
      @include mxn.respond-to("medium") {
        display: none;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    padding: 1em 2.5em;
    margin: 1em 0 0;
    width: 100%;
    min-height: var.$navbar-height;

    @include mxn.respond-to("medium") {
      @include mxn.center-flex;
      height: var.$navbar-height;
      flex-direction: row;
      background: none;
      gap: 30px;
      margin: 0;
      width: 600px;
    }

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: pal.$white;
      }

      &.active {
        font-weight: bold;
      }
    }
  }

  .hideMenu {
    display: none;
    @include mxn.respond-to("medium") {
      display: flex;
    }
  }
}
