@use 'scss/variables' as var;
@use 'scss/palette' as pal;
@use 'scss/mixins' as mxn;

.footerWrapper{
  position: relative;
  @include mxn.center-flex;
  padding: 1em 0;
  background-color: pal.$primary-color;
  font-size: var.$font-size-footer;
  min-height: var.$footer-height;
  width: 100%;
  color: #ddd;
  
  
  @include mxn.respond-to('medium'){
    font-size: var.$font-size-footer-md; 
  }

  .icon{
    font-size: 2em;
    margin: 0 1em;
  }

  a{
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5em;
  }
}