$navbar-height: 4em;
$footer-height: 2em;
$section-min-height: 30rem;
$section-slant: 3deg;

$font-size-root: 18px;
$font-size-root-md: 24px;

$font-size-h1: 36px;
$font-size-h1-md: 48px;

$font-size-lead: 24px;
$font-size-lead-md: 24px;

$font-size-p: 16px;
$font-size-p-md: 16px;

$font-size-footer: 12px;
$font-size-footer-md: 16px;

$max-width-narrow: 300px;
$max-width-narrow-md: 600px;

$section-max-width: 1100px;