@use "scss/palette" as pal;
@use "scss/variables" as var;
@use "scss/mixins" as mxn;

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap");

:root {
  font-family: "Fira Sans", monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: pal.$primary-color;
  background-color: pal.$white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding-top: var.$navbar-height;
}

// Normalizing
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: var.$font-size-h1;
  line-height: var.$font-size-h1 * 1.5;

  @include mxn.respond-to("medium") {
    font-size: var.$font-size-h1-md;
    line-height: var.$font-size-h1-md * 1.5;
  }
}

p {
  font-size: var.$font-size-root;
  line-height: var.$font-size-root * 1.5;

  @include mxn.respond-to("medium") {
    font-size: var.$font-size-root-md;
    line-height: var.$font-size-root-md * 1.5;
  }
}

.wrapper {
  @include mxn.center-flex;
  min-height: var.$section-min-height;
  position: relative;

  width: 100%;
  padding: 3em;
  gap: 1.5em;
  margin: 0 auto;
  text-align: center;

  &.slanted {
    padding: 6em 3em;
    transform: skewY(- var.$section-slant);
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      transform: skewY(- var.$section-slant);
    }

    .content {
      transform: skewY(var.$section-slant);
      position: relative;
    }
  }

  .content {
    max-width: var.$section-max-width;
  }

  &.column {
    flex-direction: column;
  }

  &.dark {
    background-color: pal.$primary-color;
    color: pal.$white;

    a {
      color: pal.$white;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &.light {
    color: pal.$primary-color;

    a {
      color: pal.$primary-color;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &.afterSlanted {
    min-height: 10px;
    padding: 5em 3em;
  }

  &.narrow {
    max-width: var.$max-width-narrow-md;
  }

  img {
    width: 90%;
    max-width: 600px;
    padding: 1em 0;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 2em;
  flex-direction: column;

  @include mxn.respond-to("medium") {
    flex-direction: row;
  }

  &.spaceBetween {
    justify-content: space-between;
  }
}

.py10 {
  padding: 10em 0;
}
